body {
    /*These settings gets rid of the natural margin and padding
    around the rest of the body of the web page*/
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header, .one {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding-bottom: 100px;
}

.header ul {
    display: flex;
    flex-direction: row;
    flex-wrap: none;
    /*border-style:solid;*/
    gap: 24px;
    /*Use these properties to get rid of list formatting */
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 100px;
}

.header a {
    text-decoration: none;
    color: white;
}

.header a:hover {
    color: pink;
    border-color: pink;
    border-bottom-style: solid;
}

.header-logo {
    display: flex;
    margin-left: 100px;
    font-size: 24px;
    color: #F9FAF8;
}

.one-left {
    display: flex;
}

    .one .one-left {
        display: flex;
        flex-direction: column;
        max-width: 500px;
        margin-left: 100px;
        align-items: flex-start;
        color: white;
    }

.awesome {
    display: flex;
    font-size: 48px;
    font-weight:bolder;
    color: #F9FAF8; 
    margin: 0;
    padding: 0;
}

.button {
    display: flex;
    border-radius: 8px;
    box-shadow: none;
    border-style: solid;
    border-width: 0;
    padding: 10px 25px;
    font-size:medium;
    font-weight: 500;
    background-color: #3882F6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #F9FAF8;
}

    .button:hover {
        background-color: pink;
        color:black;
    }

.placeholder.image {
    display: flex;
    color: white;
    background-color: gray;
    padding: 150px 200px;
    margin-right: 100px;
}

.random-information-header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 700;
}

.two {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin: 0;
    padding: 0;
    gap: 100px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 50px;
}

    .two-info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        max-width: 150px;
        font-weight: lighter;
    }

    .two-info .two-image {
        display: flex;
        height: 200px;
        width: 200px;
        border-style: solid;
        border-color: #3882F6;
        border-radius: 20px;
        margin: 0;
        padding: 0;
    }

.three {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: #E5E7EB;
    padding-top: 150px;
    padding-bottom: 100px;
    font-size: 36px;
    font-style: italic;

}

    .three .quote {
        margin: 0;
        padding: 0;
        margin-left: 350px;
        margin-right: 350px;
        text-align: start;
        font-weight: lighter;
    }
    
    .three .signature {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-right: 350px;
        font-weight: 500;
    }

.four {
    display: flex;
    justify-content: center;
}

.action-box {
    display: flex;
    justify-content: center;
    background-color: #3882F6;
    border-radius: 10px;
    margin: 100px 100px;
    padding: 20px;
}

.sign-up-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0px;
    padding: 20px;
    gap: 4px;
}

    .sign-up-left h1, .sign-up-left p {
        color: white;
        font-size: 24px;
        margin: 0;
        padding: 0;
    }
    .sign-up-left p {
        font-size: 18px;
    }

.sign-up-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    .sign-up-right .button {
        border-style: solid;
        border-color: white;
        border-width: 2px;
        margin: 10px;
    }
    .sign-up-right .button:hover {
        border-color: pink;
    }

.footer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: white;
    padding: 50px;

}